{{define "subject"}}Activation - GoGive{{end}}

{{define "plainBody"}}
Dear {{.firstName}} {{.lastName}},

Thanks for signing up for a GoGive account.
For future reference, your user ID number is {{.userID}}.

use this token to activate your account:
{{.activationToken}}

Thanks,

The GoGive Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<p>Dear {{.firstName}} {{.lastName}},</p>
    <p>Thanks for signing up for a GoGive account.</p>
    <p>For future reference, your user ID number is {{.userID}}.</p>
	<p>use this token to activate your account:</p>
	<p>{{.activationToken}}</p>
    <p>Thanks,</p>
    <p>The GoGive Team</p>
</body>

</html>
{{end}}
